body {
  margin: 30px auto;
  width: 960px;
  background-color: rgb(250, 250, 250);
}
h1 {
  font-family: "Yellowtail", cursive;
  font-size: 40px;
}

.article-title {
  transform: translateY(-20px);
}

.article-title h2 {
  font-family: sans-serif;
  font-size: 45px;
}

.article-title p {
  font-family: sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

header div {
  display: inline-block;
}
.social-wrapper {
  float: right;
  transform: translateY(10px);
}
.header-title p {
  font-family: sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  transform: translateX(4px);
}
.bar-wrapper {
  background-image: url(/img/hr-img.png);
  background-repeat: repeat;
  height: 10px;
  width: 960px;
  margin-top: 25px;
  margin-bottom: 30px;
}

#print {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#hero {
  width: 100%;
}

#main-title-wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
}

.main-section-paragraph {
  margin-top: 25px;
  text-align: left;
  text-indent: 2rem;
  font-size: 22px;
  line-height: 1.5em;
}

.main-image {
  width: 100%;
  margin-top: 45px;
}

.note-wrapper img {
  position: relative;
  width: 100%;
  height: 330px;
}

.note-child {
  max-width: 800px;
  margin: auto;
  height: 10px;
  /* position: absolute; 
  top: 0px;
  left: 0px; */
}

ul {
  columns: 2;
  font-size: 22px;
  line-height: 1.5em;
  transform: translate(35px, -300px);
}

#red-button {
  /* width: 75px;
  height: 35px; */
  background-color: brown;
  color: white;
  padding: 10px 20px 10px 20px;
  font-size: 26px;
  border: none;
}

#profile-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: baseline;
}

.name {
  font-weight: bold;
  font-size: 26px;
}

.bio {
  font-size: 22px;
}

#vanessa-pic {
  width: 120px;
}
